.theBackground {
    -fx-background-color : #dcdcdc;
}

.bigFont{
    -fx-font-size: 20px;
    -fx-font-weight: bolder;
    }

/* .button {
	-fx-opacity			 : 1;
    -fx-background-color : #295A09;
    -fx-text-fill        : #D5F2C2;
    -fx-font-weight      : 900;
    
    } 
    .button:hover {
    -fx-background-color : #0C1F00;
   }*/
    
.button:disabled {
	-fx-opacity			 : 0.6;
}


.button {
	 -fx-background-color : #2980b9;
    -fx-text-fill        : #FFFFFF;
    -fx-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    -fx-border-width: 2px;
    -fx-border-color: transparent transparent #2475ab transparent;
    -fx-background-insets: 0,0,0,0;
    -fx-background-radius: 0,0,0,0;
  	-fx-effect: innershadow( three-pass-box , #2475ab , 2 , 0.0 , 2 , 0 );
}

.button:hover {
    -fx-background-color : #34495e;
    -fx-effect: innershadow( three-pass-box , #34495e , 2 , 0.0 , 2 , 0 );
    -fx-border-width: 2px;
    -fx-border-color: #34495e #34495e #34495e #34495e; 
   }



   
.label{
	-fx-background-color : #3498db;
	-fx-fill        : #34495e;
    -fx-font-weight      : 900;
}


#white-text{
	-fx-font: 20pt BOLD;
	-fx-text-fill: #FFFFFF;
	-fx-text-alignment: "CENTER";
}



.separator *.line { 
	-fx-border-style: solid;
	-fx-border-width: 1px;
}

#sep {
	-fx-background-color: #FFFF00;
	-fx-background-radius: 2;
}


.groupTree{
	-fx-border-color: #dcdcdc; 
}

.tree-view{
	-fx-border-style: none; 
}

.tree-cell{
	-fx-padding: 10 0 10 30;
	-fx-background-color:#dcdcdc;
	-fx-text-fill:#34495e;
	-fx-border-style: none; 
	-fx-border-width: 0;
}

.tree-cell:hover {
    -fx-background-color: #FFFFFF  ;
    -fx-text-fill: #34495e ;
}

.tree-cell:selected {
    -fx-background-color: #FFFFFF ;
    -fx-text-fill: #34495e ;
}

 /*  -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 ); */