@font-face {
    font-family: BestFont;
    src: url('texgyreadventor-regular.otf');
}

.bigFont{
    -fx-font-size: 20px;
    -fx-font-weight: bolder;
    }

.button {
    -fx-background-color : #00C78C;
    -fx-text-fill        : #DBFEF8 ;
    -fx-font-weight      : 900;
    }

.button:hover {
    -fx-background-color : #01579B;
    }

#white-text{
	-fx-font: 20pt BOLD;
	-fx-text-fill: #FFFFFF;
	-fx-text-alignment: "CENTER";
}


#grey-bg{
	-fx-background-color: #000000;
}

.separator *.line { 
	-fx-border-style: solid;
	-fx-border-width: 1px;
}

#sep {
	-fx-background-color: #FFFF00;
	-fx-background-radius: 2;
}

#greyBox{
	-fx-background-color:#e7e7e7;
	-fx-text-fill:#000000;
}

.tree-view{
	-fx-border-style: none;
}

.tree-cell{
	-fx-padding: 10 0 10 30;
	-fx-background-color:#E1F5FE;
	-fx-text-fill:#000000;
	-fx-border-color: #FFFFFF;
	-fx-border-width: 0;
}

.tree-cell:hover {
    -fx-background-color: #99CDC9 ;
    -fx-text-fill: #FFFFFF ;
}

.tree-cell:hover .highlight-on-hover {
    -fx-background-color: #000000 ;
    -fx-text-fill: #FFFFFF ;
}

 /*  -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 ); */